# Core RL libraries
gymnasium[atari]>=0.29.0
gymnasium[classic-control]>=0.29.0
gymnasium[accept-rom-license]>=0.29.0

# ML/DL libraries
numpy>=2.0.0
opencv-python>=4.10.0
torch>=2.5.0
torchvision>=0.20.0
pytorch-ignite>=0.5.1

# Utilities
moviepy>=2.0.0
tensorboard>=2.18.0
mypy>=1.8.0

# RL-specific libraries
ptan==0.8.1
stable-baselines3>=2.3.0

# Testing
pytest